{% extends 'base.html.twig' %}

{% block title %}Room Reservation System :: Oval HR{% endblock %}

{% block body %}


<div class="container h-100">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex align-items-center flex-column justify-content-center h-100 ">
                <h1 class="mb-5">Welcome to Room Reservation</h1>
                {% for message in app.flashes('total_reservation_price') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Thank you for your reservation. Your total price is <strong>{{ message }}$</strong>.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

                <div id='calendar' style="width: 70%; display: inline-block;"></div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="d-flex align-items-center flex-column justify-content-center h-100 ">

                {{ form_start(reservationForm, { 'attr': { 'class': 'form-inline' }}) }}

                <label class="sr-only" for="startDate">Start Date</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Start Date</div>
                    </div>
                    {{ form_row(reservationForm.startDate, {'label': false}) }}
                </div>

                <label class="sr-only" for="endDate">End Date</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">End Date</div>
                    </div>
                    {{ form_row(reservationForm.endDate, {'label': false}) }}
                </div>

                <button type="submit" class="btn btn-primary mb-2">Reserve</button>

                {{ form_end(reservationForm) }}

                <div class="ml-3 col-md-6">
                    {{ form_errors(reservationForm) }}
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('homepage') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const calendarEvents = JSON.parse('{{ reservations | json_encode | raw }}');
    </script>

    {{ encore_entry_script_tags('homepage') }}
{% endblock %}